<mat-card class="display-container" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ header }}</mat-card-title>
    <mat-card-subtitle>Total {{ header }}: {{ displayData.length }}</mat-card-subtitle>
    <mat-card-subtitle>{{ displayTotalAmountMessage() }}: {{ summary | currency }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="display-cards">
    <ng-content />
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-fab [disabled]="isAddingData" (click)="add()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>