<app-display-container [header]="header" [displayData]="items" [isAddingData]="addItemWindowIsOpen || editItemWindowIsOpen" (handleAdd)="handleAddItemWindow($event)">
  <mat-card class="display-card" appearance="outlined" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title *ngIf="item.url; else noUrl">
        <a [href]="item.url" target="_blank">
          <mat-card-title>{{ item.title }}</mat-card-title>
        </a>
      </mat-card-title>
      <ng-template #noUrl>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.amount | currency }}</p>
      <p>Created {{ item.createdDate | createdDate }}</p>
    </mat-card-content>
    <button mat-button [disabled]="addItemWindowIsOpen || editItemWindowIsOpen" (click)="handleEditItemWindow(true, item)">Edit</button>
    <button mat-button (click)="openDeleteModal(item)">Delete</button>
  </mat-card>
</app-display-container>

<app-add-card *ngIf="addItemWindowIsOpen" [formData]="itemForm" (closeForm)="handleAddItemWindow($event)" (submitForm)="handleSubmitAddItem($event)">
  <app-edit-items [itemForm]="itemForm" [items]="items" [isEditMode]="false" (updateForm)="handleUpdateForm($event)" />
</app-add-card>

<app-edit-card *ngIf="editItemWindowIsOpen" [formData]="itemForm" (closeForm)="handleEditItemWindow($event)" (submitForm)="handleSubmitEditItem($event)">
  <app-edit-items [itemForm]="itemForm" [items]="items" [isEditMode]="true" (updateForm)="handleUpdateForm($event)" />
</app-edit-card>

<app-bar-chart [chartData]="items" label="Items" />