<app-display-container [header]="header" [displayData]="items" [isAddingData]="addItemWindowIsOpen || editItemWindowIsOpen" (handleAdd)="handleAddItemWindow($event)">
  @for (item of items; track item) {
    <app-display-card 
      [entity]="item"
      [cardDisabled]="addItemWindowIsOpen || editItemWindowIsOpen"
      (openEditCard)="handleEditItemWindow($event)"
      (openDeleteModal)="openDeleteModal($event)"
    />
  }

  <app-edit-card *ngIf="addItemWindowIsOpen" [formData]="itemForm" (closeForm)="handleAddItemWindow($event)" (submitForm)="handleSubmitAddItem($event)">
    <app-edit-items [itemForm]="itemForm" [items]="items" [isEditMode]="false" (updateForm)="handleUpdateForm($event)" />
  </app-edit-card>
  
  <app-edit-card *ngIf="editItemWindowIsOpen" [formData]="itemForm" (closeForm)="handleEditItemWindow($event)" (submitForm)="handleSubmitEditItem($event)">
    <app-edit-items [itemForm]="itemForm" [items]="items" [isEditMode]="true" (updateForm)="handleUpdateForm($event)" />
  </app-edit-card>
</app-display-container>


<app-bar-chart *ngIf="itemsChartData" [chartData]="itemsChartData" label="Items" />
