<form [formGroup]="debtForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput value="Discover" formControlName="title" required>
    <mat-error *ngIf="debtForm.controls.title.touched">
      <span>Need to provide a title</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" required>
    <mat-error *ngIf="debtForm.controls.amount.touched">
      <span>Need to specify an amount</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input matInput formControlName="dueDate" [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Recurring</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group>
        <mat-radio-button>Weekly</mat-radio-button>
        <mat-radio-button>Monthly</mat-radio-button>
        <mat-radio-button>Yearly</mat-radio-button>
        <mat-radio-button>One-Time</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-button (click)="submit()">Yes</button>
  <button mat-button (click)="close()">No</button>
</form>