<app-display-container [header]="header" [displayData]="savings" [isAddingData]="addSavingWindowIsOpen || editSavingWindowIsOpen" (handleAdd)="handleAddSavingWindow($event)">
  @for (saving of savings; track saving) {
    <app-display-card 
      [entity]="saving"
      [cardDisabled]="addSavingWindowIsOpen || editSavingWindowIsOpen"
      (openEditCard)="handleEditSavingWindow($event)"
      (openDeleteModal)="openDeleteModal($event)"
    />
  }
  <app-edit-card *ngIf="addSavingWindowIsOpen" [formData]="savingForm" (closeForm)="handleAddSavingWindow($event)" (submitForm)="handleSubmitAddSaving($event)">
    <app-edit-savings [savingForm]="savingForm" [isEditMode]="false" (updateForm)="handleUpdateForm($event)" />
  </app-edit-card>
  
  <app-edit-card *ngIf="editSavingWindowIsOpen" [formData]="savingForm" (closeForm)="handleEditSavingWindow($event)" (submitForm)="handleSubmitEditSaving($event)">
    <app-edit-savings [savingForm]="savingForm" [isEditMode]="true" (updateForm)="handleUpdateForm($event)" />
  </app-edit-card>
</app-display-container>


<!-- <app-progress-bar></app-progress-bar> -->
<app-area-chart *ngIf="savingsChartData" [chartData]="savingsChartData" label="Savings" />
