<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ header }}</mat-card-title>
    <mat-card-subtitle>Total {{ header }}: {{ debts.length }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="display-card" appearance="outlined" *ngFor="let debt of debts">
      <mat-card-header>
        <mat-card-title>{{ debt.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ debt.amount | currency }}</p>
        <p *ngIf="debt.dueDate">Due {{ debt.dueDate | dueDate }}</p>
        <p>Last Updated: {{ debt.lastUpdated | date: 'M/d/yy' }}</p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="addDebtWindowIsOpen" (click)="handleAddDebtWindow(true)">Add</button>
  </mat-card-actions>
</mat-card>
<app-edit-debts *ngIf="addDebtWindowIsOpen" [debts]="debts" (closeForm)="handleAddDebtWindow($event)"></app-edit-debts>
