<app-display-container [header]="header" [displayData]="debts" [isAddingData]="addDebtWindowIsOpen || editDebtWindowIsOpen" (handleAdd)="handleAddDebtWindow($event)">
  @for (debt of debts; track debt) {
    <app-display-card
      [entity]="debt" 
      [cardDisabled]="addDebtWindowIsOpen || editDebtWindowIsOpen"
      (openEditCard)="handleEditDebtWindow($event)"
      (openDeleteModal)="openDeleteModal($event)"
    />
  }
  
  <app-edit-card *ngIf="addDebtWindowIsOpen" [formData]="debtForm" (closeForm)="handleAddDebtWindow($event)" (submitForm)="handleSubmitAddDebt($event)">
    <app-edit-debts [debtForm]="debtForm" [debts]="debts" [isEditMode]="false" (updateForm)="handleUpdateForm($event)" />
  </app-edit-card> 
  
  <app-edit-card *ngIf="editDebtWindowIsOpen" [formData]="debtForm" (closeForm)="handleEditDebtWindow($event)" (submitForm)="handleSubmitEditDebt($event)">
    <app-edit-debts [debtForm]="debtForm" [debts]="debts" [isEditMode]="true" (updateForm)="handleUpdateForm($event)" />
  </app-edit-card>
  
</app-display-container>

<app-line-chart *ngIf="debtsChartData" [chartData]="debtsChartData" label="Debts" />
