.display-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border-width: 2px;
}

mat-card-title {
  font-size: 18px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}